@use "../variables" as v;
@use "../other/animations";

$bg1: #272b30;
$bg2: #3f464e;
$bg3: #5d6d80;

.Auth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg1;
  .none {
    i {
      color: #00000001;
    }
  }
  .box {
    width: calc(100% - 40px);
    max-width: 500px;
    max-height: calc(100% - 40px);
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $bg2;
    border-radius: 10px;
    animation: popup_in 0.5s;
    .top {
      padding: 20px;
      background: $bg3;
      color: v.$white;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
    }
    .form {
      padding: 20px;
      .field {
        width: 100%;
        margin-bottom: 10px;
        a {
          color: v.$yellow;
        }
        .btn-lang {
          margin: 0 auto;
          width: fit-content;
          padding: 10px;
          padding-top: 0;
          border-bottom: 1px solid v.$white;
          border-radius: 10px;
        }
        .labels {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          label {
            line-height: 1.5;
          }
          .btn-help {
            color: v.$yellow;
          }
        }
        .inp {
          width: 100%;
          input {
            width: 100%;
            background-color: rgba($color: v.$black, $alpha: 0.6);
            color: v.$white;
            padding: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 1px solid v.$black;
            transition: 200ms;
            &.otp {
              letter-spacing: 5px;
            }
            &:focus {
              border-color: v.$blurple;
            }
          }
          .btn {
            width: 100%;
            font-weight: bold;
            color: v.$white;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            text-transform: capitalize;
            background-color: v.$card_primary;
            display: block;
            text-decoration: none;
            &.btn-login {
              background-color: $bg3;
            }
            &.btn-google {
              color: v.$cred;
            }
            &.btn-discord {
              margin-top: 5px;
              color: v.$blurple;
            }
            &.btn-github {
              display: block;
              margin-top: 5px;
            }
          }
        }
        .btn-headback {
          color: v.$yellow;
          text-decoration: underline;
        }
        .sm {
          font-size: 0.9em;
          text-align: justify;
          text-align-last: left;
          color: v.$softwhite;
        }
        .btn-start-over {
          text-align: center;
          a {
            color: v.$darkcream;
            text-decoration: none;
            border-bottom: 1px solid v.$darkcream;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.out {
      animation: popup_out 0.5s forwards;
    }
  }
}
