@use "../variable" as v;

.forceclose {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .summary {
    font-family: monospace, monospace;
    font-size: 1.5rem;
    p {
      line-height: 1.5;
      margin: 20px 0;
      text-align: center;
    }
  }
  .action {
    width: 100%;
    .btn {
      padding: 10px;
      background-color: v.$sblurple;
      text-align: center;
      border-radius: 10px;
      font-weight: bold;
      width: 100%;
    }
  }
}