@use "../variable" as v;

$bg1: #272b30;
$bg2: #3f464e;
$bg3: #5d6d80;

.sign {
  width: 100%;
  height: 100%;
  background-color: $bg1;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: calc(100% - 40px);
    padding: 20px;
    max-width: 500px;
    background-color: $bg2;
    border-radius: 20px;
    animation: popup_in 0.5s;
    .title {
      width: 100%;
      border-bottom: 1px solid v.$white;
      margin-bottom: 20px;
      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    }
    .language {
      margin-bottom: 10px;
      .btn-lang {
        width: fit-content;
        margin: 0 auto;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid v.$white;
        font-size: 0.9rem;
        i {
          margin-left: 10px;
        }
      }
    }
    .form {
      width: 100%;
      .field {
        width: 100%;
        margin-bottom: 10px;
        .input {
          margin-bottom: 10px;
        }
        .input:last-child {
          margin-bottom: 0;
        }
        .note {
          font-size: 1.2rem;
        }
        .text {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        input {
          width: 100%;
          padding: 10px;
          background-color: v.$card_secondary;
          color: v.$white;
          font-size: 1rem;
          border-radius: 5px;
        }
        button {
          width: 100%;
          padding: 10px;
          background-color: $bg3;
          color: v.$white;
          font-weight: bold;
          font-size: 1rem;
          border-radius: 5px;
          margin-top: 20px;
        }
        .code {
          letter-spacing: 5px;
        }
        .oldschool {
          p {
            font-style: italic;
            a {
              color: v.$white;
              text-decoration: none;
              span {
                color: v.$yellow;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .field:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.out {
    .card {
      animation: popup_out 0.5s forwards;
    }
  }
}