@use "../variables" as v;

@keyframes popup_in {
  0% {
    transform: scale(0);
    opacity: 0;
  } 80% {
    transform: scale(1.1);
    opacity: 1;
  } 100% {
    transform: scale(1);
  }
}
@keyframes popup_out {
  0% {
    transform: scale(1);
    opacity: 1;
  } 100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes slide_left_in {
  0% {
    transform: translateX(100%);
  } 100% {
    transform: translateX(0);
  }
}
@keyframes slide_left_out {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-100%);
  }
}
@keyframes slide_right_in {
  0% {
    transform: translateX(-100%);
  } 100% {
    transform: translateX(0);
  }
}
@keyframes slide_right_out {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(100%);
  }
}
@keyframes slide_up_in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide_up_out {
  0% {
    opacity: 1;
    transform: translateY(0);
  } 100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
@keyframes slide_down_in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  } 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide_down_out {
  0% {
    opacity: 1;
    transform: translateY(0);
  } 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes pm_move_down {
  0% {
    height: 100%;
  } 100% {
    height: calc(100% - 35px);
  }
}
@keyframes pm_move_up {
  0% {
    height: calc(100% - 35px);
  } 100% {
    height: 100%;
  }
}