@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
}
html {
  height: 100dvh;
  scroll-behavior: smooth;
  scrollbar-color: v.$blurple v.$card_secondary;
  scrollbar-width: thin;
}

body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: v.$card_primary;
  color: v.$white;
  overflow: hidden;
}

button,
input,
textarea,
select {
  outline: none;
  border: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: block;
  font-size: 1em;
}
img {
  display: block;
}
button,
.btn,
[role="button"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

p {
  line-height: 1.5;
}

a {
  color: v.$yellow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: v.$card_primary;
  margin: 0;
  font: inherit;
  color: v.$blurple;
  width: 1.5em;
  height: 1.5em;
  border: 0.15rem solid #808080;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  box-shadow: inset 1rem 1rem v.$blurple;
  background-color: v.$card_primary;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.btn-back {
  display: none;
}
.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.fuwi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.center {
  text-align: center;
}
