$bg: #313338;

$bar_bg: #3f4146;
$bar_active: #3c426f;

$card_primary: #1e1f21;
$card_secondary: #2b2d30;

$fuchsia: #eb459d;

$white: #efefef;
$softwhite: #aaaaaa;
$black: #1b1b1b;
$blackblue: #0a1f2d;
$darkblue: #1d2d50;
$midnightblue: #1f4068;
$seablue: #2c5282;
$softgreen: #2d6a4f;
$bluegreen: #9ae3d8;
$peagreen: #b9fbc0;
$golden: #e2b93b;
$btnblue: #007ab8;
$btnhoverblue: #2c5282;

$darkgray: #2e3a4d;
$bluegray: #34495e;
$midgray: #5d6d7e;
$lightgray: #7f8c8d;
$lighergray: #85929e;

$blurple: #5865f1;
$sgreen: #3aa761;
$sred: #da373b;
$sgray: #4e5057;
$syellow: #bda94e;
$yellow: #fee75b;
$darkcream: #cab05c;

$cred: #ff6e6e;
$cgreen: #6eff75;
