$bg: #313338;

$bar_bg: #3F4146;
$bar_active: #3C426F;

$card_primary: #1E1F21;
$card_secondary: #2B2D30;

$fuchsia: #EB459D;

$white: #efefef;
$softwhite: #aaaaaa;
$black: #1b1b1b;
$blackblue: #0A1F2D;
$darkblue: #1D2D50;
$midnightblue: #1F4068;
$seablue: #2C5282;
$softgreen: #2D6A4F;
$bluegreen: #9AE3D8;
$peagreen: #B9FBC0;
$golden: #E2B93B;
$btnblue: #007AB8;
$btnhoverblue: #2C5282;

$darkgray: #2E3A4D;
$bluegray: #34495E;
$midgray: #5D6D7E;
$lightgray: #7F8C8D;
$lighergray: #85929E;

$blurple: #5865F1;
$sgreen: #3AA761;
$sred: #DA373B;
$sgray: #4E5057;
$syellow: #BDA94E;
$yellow: #FEE75B;
$darkcream: #cab05c;

$cred: #ff6e6e;
$cgreen: #6eff75;