@use "./variables" as v;
@use "./main";
@use "./other/nav";

.app {
  width: 100%;
  height: 100%;
  overflow: visible;
}

html {
  height: 100svh;
}
body {
  overflow: visible;
}

.main {
  width: 100%;
  height: 100%;
  .sect {
    &#home {
      position: relative;
      padding: 10px;
      width: 100%;
      min-height: 100svh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .icon {
          animation: slide_up_in 1s;
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
        .title {
          font-size: 1.25rem;
          text-align: center;
          animation: slide_up_in 1s;
          h1 {
            word-break: break-all;
            word-break: break-word;
            hyphens: auto;
          }
        }
        .actions {
          text-align: center;
          margin-top: 40px;
          animation: slide_down_in 1s;
          a.btn {
            display: block;
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            background-color: v.$pm1;
            min-width: 200px;
            max-width: 100%;
            color: v.$px1;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
            &.joined {
              background-color: v.$pm2;
              color: v.$white;
            }
            &.hide {
              display: none;
            }
          }
        }
      }
      .author {
        position: absolute;
        bottom: 10px;
        left: 10px;
        text-align: left;
        font-family: monospace, monospace;
        font-size: 0.8rem;
        animation: slide_right_in 2s;
        p {
          a {
            color: v.$pm1;
            font-weight: bold;
          }
        }
      }
    }
    &#credits {
      background-color: v.$px25;
      padding: 20px;
      color: v.$softwhite;
      a {
        color: v.$pm1;
        text-decoration: none;
      }
      .box {
        max-width: 800px;
        margin: 0 auto;
        .cre {
          img {
            padding: 40px 0;
            display: block;
            margin: 0 auto;
          }
          p {
            padding: 10px 0;
            line-height: 2;
            text-align: justify;
            text-align-last: center;
          }
        }
      }
    }
    &#footer {
      background-color: v.$px25;
      color: v.$softwhite;
      .links {
        background-color: v.$px1;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a {
          display: block;
          text-decoration: none;
          color: v.$softwhite;
        }
      }
      .author {
        padding: 20px;
        font-size: 14px;
        p {
          line-height: 1.5;
          text-align: center;
        }
      }
    }
  }
}
