# all values are type of string, but will be transpiled once running

APP_PRODUCTION=boolean # example: false
APP_PORT=number # ex: 7000 - for localhost
APP_HOST=string # ex: chat-app.mydomain.com

SESSION_SECRET=string # ex: e707816d
CHAT_KEY=string # ex: dc749a66

SMTP_HOST=string # ex: smtp.mydomain.com
SMTP_PORT=number # 587
SMTP_USER=string # noreply@mydomain.com
SMTP_PASS=string # strongPasswordH3r3

DISCORD_CLIENT_ID=key
DISCORD_CLIENT_SECRET=key

GOOGLE_CLIENT_ID=key
GOOGLE_CLIENT_SECRET=key

GITHUB_CLIENT_ID=key
GITHUB_CLIENT_SECRET=key
