@use "../../variable" as v;

.appname {
  z-index: 1;
  position: absolute;
  top: 0;left: 100px;
  width: 350px;
  height: 50px;
  background-color: v.$card_secondary;
  border-bottom: 1px solid v.$black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slide_down_in 0.5s;
  .title {
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .actions {
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    .btn {
      font-size: 1.25rem;
    }
  }
  .appname-options {
    position: absolute;
    top: 50px; right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px v.$black;
    overflow: hidden;
    animation: slide_down_in 0.25s;
    .btn {
      background-color: v.$bg;
      padding: 14px 21px;
      &:hover {
        background-color: v.$sblurple;
      }
    }
    &.out {
      animation: slide_down_out 0.25s forwards;
    }
  }
}