<!DOCTYPE html>
<html lang="id" style="box-sizing: border-box; padding: 0; margin: 0;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>{GEN_CODE} is your login authentication code</title>
  </head>
  <body style="box-sizing: border-box; padding: 0; margin: 0; width: 100%; -webkit-font-smoothing: antialiased; font-size: 14px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; overflow-x: hidden;">
    <div class="snippet" style="box-sizing: border-box; padding: 0; margin: 0; display: none;">
      <p style="box-sizing: border-box; padding: 0; margin: 0;">{GEN_CODE} is your login authentication code.</p>
    </div>
    <div class="logo" style="box-sizing: border-box; max-width: 600px; margin: 0 auto; padding: 20px;">
      <img src="https://kirimin.devanka.id/assets/kirimin_icon.png" alt="" width="125" style="box-sizing: border-box; padding: 0; display: block; margin: 0 auto;">
    </div>
    <div class="summary" style="box-sizing: border-box; max-width: 600px; margin: 0 auto; padding: 20px;">
      <p style="box-sizing: border-box; padding: 0; margin: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; line-height: 1.5; font-size: 1em; text-align: justify; -moz-text-align-last: center; text-align-last: center;">Thank you for joining Kirimin. There is currently a login attempt on this account. To continue the login process, please use the following 6-digit verification code to authenticate your account.</p>
      <div class="box" style="box-sizing: border-box; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; padding: 20px; text-align: center; font-size: 1.5em; font-weight: bold; background-color: #821d30; color: #f3eac0; letter-spacing: .5em; margin: 10px 0; border-top-left-radius: 20px; border-bottom-right-radius: 20px;">{GEN_CODE}</div>
      <p style="box-sizing: border-box; padding: 0; margin: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; line-height: 1.5; font-size: 1em; text-align: justify; -moz-text-align-last: center; text-align-last: center;">The code above is valid for 10 minutes from the time this email is sent. Ignore this email if you do not think you have made a login attempt.</p><br/>
      <p style="box-sizing: border-box; padding: 0; margin: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; line-height: 1.5; text-align: justify; -moz-text-align-last: center; text-align-last: center; color: gray; font-size: .9em;">This message is automatically sent by the system. Please do not reply to this email.</p>
    </div>
    <div class="footer" style="box-sizing: border-box; max-width: 600px; margin: 0 auto; padding: 20px; border-top: 1px solid gray;">
      <p style="box-sizing: border-box; padding: 0; margin: 0; color: gray; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; line-height: 1.5; text-align: center; font-size: .9em;">© 2025 Devanka761, All Rights Reserved</p><br style="box-sizing: border-box; padding: 0; margin: 0;">
      <p style="box-sizing: border-box; padding: 0; margin: 0; color: gray; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; line-height: 1.5; text-align: center; font-size: .9em;">Personal - Kirimin - Devanka761<br style="box-sizing: border-box; padding: 0; margin: 0;">Jl. Kalimantan X No. 157<br style="box-sizing: border-box; padding: 0; margin: 0;">Sumber Sari, Jember, Jawa Timur - 68121</p>
    </div>
  </body>
</html>