<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content"/>
    <meta name="google" content="notranslate" />
    <meta name="robots" content="noindex,nofollow,notranslate"/>
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.1/css/all.css" />
    <link rel="stylesheet" href="<%= '/css/app.min.css?ts=' + Date.now().toString(32) %>"/>
    <title>Kirimin: <%= message ? message : 'Not Found' %></title>
    <style>
      body {
        background-color: #313338;
      }
      .Error {
        padding: 20px;
        width: 100%;
        min-height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .icon {
        img {
          margin: 0 auto;
          display: block;
        }
      }
      .status {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
      .relocate {
        border-top: 5px dotted #5865F2;
        padding: 0 10px;
        text-align: center;
        font-style: italic;
        a {
          color: #5865F2;
        }
      }
      .eg {
        margin: 14px 0;
      }
    </style>
  </head>
  <body>
    <div class="Error">
      <div class="eg icon">
        <img src="/assets/kirimin_icon.png" alt="Kirimin" width="100"/>
      </div>
      <div class="eg status">
        <%= code && message ? code + ': ' + message : '404: Not Found' %>
      </div>
      <div class="eg relocate">
        <a href="/">
          <p>Return to homepage</p>
          <p>Kembali ke homepage</p>
        </a>
      </div>
    </div>
  </body>
</html>