@use "./variable" as v;

@media (max-width: 440px) {
  .notip {
    width: fit-content;
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 850px) {
  .btn-back {
    display: block;
  }
  .appname {
    top: 0;left: 0;
    width: 100%;
    height: 50px;
    border-color: #00000000;
    animation: slide_left_in 0.5s;
    .appname-options {
      z-index: 1;
      animation: slide_left_in 0.25s;
      &.out {
        animation: slide_left_out 0.25s forwards;
      }
    }
    &.out {
      animation: slide_right_out 0.5s forwards;
    }
  }
  .nav {
    top: 50px;left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    background-color: v.$card_secondary;
    animation: slide_left_in 0.5s;
    .btn {
      margin-bottom: 0;
      width: calc(100% / 6);
      height: 100%;
      padding: 0;
      text-align: center;
      align-content: center;
      border-radius: 0;
      border-bottom: 1px solid v.$black;
      border-left: none;
      i {
        font-size: 1.2rem;
      }
      p {
        display: none;
      }
    }
    .btn:hover {
      background-color: v.$bar_bg;
    }
    .btn.selected {
      background-color: v.$bar_bg;
      border-color: v.$sblurple;
      border-left: none;
    }
    &.out {
      animation: slide_right_out 0.5s forwards;
    }
  }
  .chats {
    top: 100px;left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background-color: v.$bg;
    .search {
      input {
        background-color: v.$card_secondary;
        border: 1px solid v.$black;
      }
    }
    .card-list {
      .freq {
        background-color: v.$bar_active;
        .card:hover {
          background-color: v.$card_secondary;
        }
      }
    }
  }
  .pmb {
    left: 0;
    width: 100%;
    &.out {
      animation: slide_right_out 0.5s forwards;
    }
  }
  .pmm {
    animation: slide_left_in 0.5s;
  }
}