@use "./variable" as v;
@use "./other/animation";
@use "./other/props";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing:border-box;
}
html {
  height: 100dvh;
  width: 100dvw;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: v.$card_secondary;
}
::-webkit-scrollbar-thumb {
  background: v.$bar_active;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: v.$sblurple;
}
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: v.$card_primary;
  color: v.$white;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: v.$bar_active v.$card_secondary;
}

button, input, textarea, select {
  outline: none;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
}
img {
  display: block;
}
button, .btn, [role="button"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

p {
  line-height: 1.5;
}

a {
  color: v.$yellow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.nav {
  z-index: 98;
  position: fixed;
  top: 5px;right: 5px;
  background-color: #1E1F2280;
  border-bottom: 1px solid v.$sblurple;
  border-left: 1px solid v.$sblurple;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  animation: slide_left_in 0.5s;
  .btn-menu {
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
  }
  .nav-list {
    display: none;
    padding: 10px;
    a {
      display: block;
      text-align: left;
      padding: 10px;
      text-decoration: none;
      font-size: 1.2rem;
      color: v.$white;
      border-left: 1px solid #00000000;
      border-bottom: 1px solid #00000000;
      border-radius: 10px;
      transition: 0.2s;
    }
    a:hover {
      width: calc(100% + 20px);
      transform: translateX(-20px);
      background-color: v.$card_primary;
      border-color: v.$sblurple;
    }
    a:last-child {
      margin-bottom: 0;
    }
  }
  &.opened {
    min-width: 200px;
    .nav-list {
      display: block;
    }
  }
  &.out {
    animation: slide_left_out 0.5s forwards;
  }
}
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(120deg, #272b30, #3f464e, #272b30);
  .sect {
    &#home {
      position: relative;
      padding: 10px;
      width: 100%;
      min-height: 100dvh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .icon {
          width: 100px;
          height: 100px;
          text-align: center;
          animation: slide_up_in 1s;
          img {
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            -o-object-fit: cover;
            -o-object-position: center;
            &.brd {
              border-radius: 10px;
            }
          }
        }
        .title {
          font-size: 1.25rem;
          text-align: center;
          animation: slide_up_in 1s;
          h1 {
            word-break: break-all;
            word-break: break-word;
            hyphens: auto;
          }
        }
        .actions {
          text-align: center;
          margin-top: 40px;
          animation: slide_down_in 1s;
          .btn {
            color: v.$white;
            border: 1px solid v.$sblurple;
            border-radius: 10px;
            overflow: hidden;
            a {
              background-color: v.$sblurple;
              min-width: 150px;
              max-width: 100%;
              display: block;
              padding: 10px;
              color: v.$white;
              font-weight: bold;
              text-decoration: none;
              &.joined {
                background-color: #272b30;
                color: v.$white;
              }
            }
          }
        }
      }
      .author {
        position: absolute;
        bottom: 10px;left: 10px;
        text-align: left;
        font-family: monospace, monospace;
        font-size: 0.8rem;
        animation: slide_right_in 2s;
        p {
          a {
            color: v.$sblurple;
            font-weight: bold;
            text-shadow: 1px 0 1px v.$card_primary,
            0 1px 1px v.$card_primary,
            -1px 0 1px v.$card_primary,
            0 -1px 1px v.$card_primary,
            1px 1px 2px v.$card_primary,
            1px -1px 2px v.$card_primary,
            -1px 1px 2px v.$card_primary,
            -1px -1px 2px v.$card_primary;
          }
        }
      }
    }
  }
  &.invite {
    background: #272b30;
    .sect {
      &#home {
        .card {
          width: fit-content;
          height: fit-content;
          max-width: calc(100% - 40px);
          max-height: calc(100% - 40px);
          padding: 40px;
          background-color: #272b30;
          border: 1px solid v.$black;
          border-radius: 20px;
          box-shadow: 0 0 5px v.$black;
          .icon {
            margin-bottom: 20px;
          }
          .title {
            p {
              span {
                font-style: italic;
                font-size: 1rem;
                color: v.$softwhite;
              }
            }
          }
        }
      }
    }
  }
}