<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content" />
    <meta name="author" content="Devanka" />
    <meta name="robots" content="notranslate" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="Devanka: Kirimin Messenger. Be friends with people from all of the world. Fast, minimalist, and secure." />

    <meta property="og:title" content="Devanka: Kirimin" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Devanka: Kirimin Messenger. Be friends with people from all of the world. Fast, minimalist, and secure." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Devanka: Kirimin" />
    <meta name="twitter:description" content="Devanka: Kirimin Messenger. Be friends with people from all of the world. Fast, minimalist, and secure." />
    <meta name="twitter:alt" content="Devanka: Kirimin" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta name="msapplication-TileColor" content="#2d3048">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#2d3048">

    <link rel="manifest" href="/manifest.json" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-light.css" />

    <title>Kirimin</title>
  </head>
  <body>
    <nav class="nav">
      <div class="btn btn-menu" data-menu="devanka761" role="button"><i class="fa-solid fa-bars"></i> Menu</div>
      <div class="nav-list">
        <a class="btn" href="#home"><i class="fa-solid fa-hashtag fa-fw"></i> Home</a>
        <a class="btn" href="#credits"><i class="fa-solid fa-hashtag fa-fw"></i> Credits</a>
        <a class="btn br" target="_blank" href="/terms" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> Terms of Service</a>
        <a class="btn" target="_blank" href="/privacy" data-r="devanka761"><i class="fa-duotone fa-regular fa-up-right-from-square fa-fw"></i> Privacy Policy</a>
        <a class="btn br" href="/app" data-r="devanka761"><i class="fa-duotone fa-regular fa-right-to-bracket fa-fw"></i> Login</a>
      </div>
    </nav>
    <div class="app">
      <div class="main" id="main">
        <section class="sect" id="home">
          <div class="card">
            <div class="icon">
              <img src="/assets/kirimin_icon.png" alt="KIRIMIN" />
            </div>
            <div class="title">
              <h1>KIRIMIN MESSENGER</h1>
              <p>Fast - Minimalist - Secure</p>
            </div>
            <div class="actions">
              <a href="/app" class="btn"><i class="fa-solid fa-right-to-bracket fa-fw"></i> OPEN NOW</a>
              <a href="/#install" class="btn joined hide" id="btn-install"><i class="fa-duotone fa-regular fa-mobile"></i> INSTALL</a>
            </div>
          </div>
          <div class="author">
            <p><a href="https://devanka.id" target="_blank">Devanka761</a>'s Kirimin</p>
            <p>An open-source messaging app based in Indonesia</p>
          </div>
        </section>
        <section class="sect" id="credits">
          <div class="box">
            <div class="cre">
              <p>This webapp was made for educational purposes only. Written in <a href="https://www.typescriptlang.org" target="_blank">TypeScript</a> and uses <a href="https://nodejs.org" target="_blank">Node.js</a>, <a href="https://expressjs.com" target="_blank">Express</a>, <a href="https://github.com/coturn/coturn" target="_blank">Corturn</a>, <a href="https://nodemailer.com" target="_blank">Nodemailer</a>, <a href="https://sass-lang.com" target="_blank">SASS</a>, and <a href="https://webpack.js.org" target="_blank">Webpack</a>. Running on <a href="https://ubuntu.com/server" target="_blank">Ubuntu</a> and uses <a href="https://git-scm.com" target="_blank">Git</a> to control its version. All problems can be reported via email <a href="mailto:contact@devanka.id">contact@devanka.id</a> or direct message on <a href="https://devanka.id/discord">Discord</a>.</p>
            </div>
          </div>
        </section>
        <section class="sect" id="footer">
          <div class="links">
            <a href="https://github.com/devanka761" target="_blank"><i class="fa-brands fa-github"></i> devanka761</a>
            <a href="https://devanka.id/discord" target="_blank"><i class="fa-brands fa-discord"></i> Codemate Resort</a>
            <a href="https://youtube.com/@devanka761" target="_blank"><i class="fa-brands fa-youtube"></i> Devanka 761</a>
            <a href="https://open.spotify.com/artist/42Xg6kVYcj56XwL3KdZfsZ" target="_blank"><i class="fa-brands fa-spotify"></i> Devanka</a>
            <a href="mailto:contact@devanka.id" target="_blank"><i class="fa-solid fa-envelope"></i> contact@devanka.id</a>
          </div>
          <div class="author">
            <p><i class="fa-duotone fa-copyright"></i> Devanka761 - Personal</p>
            <br/>
            <p>Jl. Kalimantan X No. 157<br/>Sumber Sari, Jember, Jawa Timur - 68121</p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
