<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content" />
    <meta name="author" content="Devanka"/>
    <meta name="robots" content="notranslate"/>
    <meta name="google" content="notranslate" />
    <meta name="description" content="Devanka: Kirimin Messenger. Be friends with people from all of the world. Fast, minimalist, and secure."/>

    <meta property="og:title" content="Devanka: Kirimin" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Devanka: Kirimin Messenger. Be friends with people from all of the world. Fast, minimalist, and secure." />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Devanka: Kirimin"/>
    <meta name="twitter:description" content="Devanka: Kirimin Messenger. Be friends with people from all of the world. Fast, minimalist, and secure." />
    <meta name="twitter:alt" content="Devanka: Kirimin"/>

    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-thin.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-light.css"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-thin.css"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-solid.css"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-regular.css"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-light.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-thin.css"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-light.css"/>

    <title>Kirimin</title>
  </head>
  <body>
    <nav class="nav">
      <div class="btn-menu" data-menu="devanka761" role="button"><i class="fa-solid fa-bars"></i> MENU</div>
      <div class="nav-list">
        <a target="_blank" href="https://devanka.id/donate" data-r="devanka761">DONATE</a>
        <a href="/app" data-r="devanka761">LOGIN</a>
        <a target="_blank" href="/developer" data-r="devanka761">API - FOR DEVELOPER</a>
      </div>
    </nav>
    <div class="app">
      <div class="main" id="main">
        <section class="sect" id="home">
          <div class="card">
            <div class="icon">
              <img src="/assets/kirimin_icon.png" alt="KIRIMIN"/>
            </div>
            <div class="title">
              <h1>KIRIMIN MESSENGER</h1>
              <p>fast - minimalist - secure</p>
            </div>
            <div class="actions">
              <div class="btn">
                <a href="/app">JOIN NOW</a>
              </div>
            </div>
          </div>
          <div class="author">
            <p><a href="https://devanka.id">Devanka761</a>'s Kirimin</p>
            <p>An open-source messaging app based in Indonesia</p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>