<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,interactive-widget=resizes-content" />
    <meta name="google" content="notranslate" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta name="msapplication-TileColor" content="#2d3048" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#2d3048" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <title>Terms of Service: Kirimin</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Terms of Service</h1>
      <div class="field">
        <h2 class="field-title">1. Acceptance of Terms</h2>
        <div class="field-desc">
          <p>By accessing, observing, or using Kirimin and related services, you agree to be bound by these Terms of Service. If you disagree with any part of these terms, you may not access our services.</p>
          <p>These terms apply to all users, whether using our service as demonstration or main service. Users must be at least 13 years of age (13yo) to access our services. If you are under 13, please do not access Kirimin.</p>
        </div>
      </div>
      <div class="field">
        <h2 class="field-title">2. Service Description</h2>
        <div class="field-desc"><p>Kirimin provides online messaging that allows users to interact with others on the same app. Our service functionality is provided free of charge, with optional premium features available through donation (paid).</p></div>
      </div>
      <div class="field">
        <h2 class="field-title">3. User Responsibilities</h2>
        <div class="field-desc">
          <p>When access Kirimin, you agree to</p>
          <h3>3.1 Acceptable Use</h3>
          <p>Users must use our services in compliance with all applicable laws and regulations. You are responsible for all activity conducted through your account and must not:</p>
          <ul>
            <li>Attempt to circumvent our rate limiting or security measures</li>
            <li>Use our services to distribute malware or harmful content</li>
            <li>Interfere with other users' access to the service</li>
          </ul>
          <h3>3.2 Account Security</h3>
          <p>If you create an account, you are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. Notify us immediately of any unauthorized use or security breach.</p>
        </div>
      </div>
      <div class="field">
        <h2 class="field-title">4. In-App Purchases</h2>
        <div class="field-desc">
          <p>Kirimin offers premium features through paid donation powered by <a href="https://midtrans.com" target="_blank">Midtrans</a>.</p>
          <p>Purchases of premium features are considered voluntary donations made without any form of coercion. Premium features are virtual goods and have no tangible or physical form. Users are expected to make purchases responsibly, as all transactions are final and non-refundable.</p>
          <p>All billing-related matters, including fees, and subscription management, are handled according to <a href="https://midtrans.com/privacy-notice" target="_blank">Midtrans Privacy Policy</a>.</p>
        </div>
      </div>
      <div class="field">
        <h2 class="field-title">5. Privacy & Data</h2>
        <div class="field-desc">
          <p>Details outlined in our <a href="/privacy">Privacy Policy.</a></p>
        </div>
      </div>
      <div class="field">
        <h2 class="field-title">6. Changes to Terms</h2>
        <div class="field-desc">
          <p>We reserve the right to modify these terms at any time. We will provide notice of significant changes through our website. Your continued use of Kirimin after such modifications constitutes acceptance of the updated terms.</p>
          <p>We encourage you to review these terms periodically for any changes. If you disagree with the modified terms, you should discontinue using our services.</p>
        </div>
      </div>
      <div class="field"><a class="btn-read" href="/privacy">Read Our Privacy Policy >></a></div>
      <div class="field flex"><a href="/" class="btn">Home</a><a href="/app" class="btn">Kirimin</a><a href="/privacy" class="btn">Privacy Policy</a></div>
    </div>
  </body>
</html>
