.Memuat {
    position: fixed;
    background-color: var(--a1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--a1);
    color: var(--b1);
}

.Landing {
    background-color: var(--a2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--a4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Landing .Title {
    font-family: "Share Tech Mono";
    font-weight: 700;
    font-size: 32px;
}
.Landing .Desc {
    color: var(--b3);
    margin-bottom: 10px;
    text-align: center;
}

.Landing .Tombol {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Landing .Tombol .btn-1 {
    position: relative;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Landing .Tombol .btn-1 i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.Landing .Tombol .loginGoogle {
    /* background-color: var(--merah); */
    color: var(--merah);
}

.Landing .Tombol .loginFacebook {
    /* background-color: var(--biru); */
    color: var(--biru);
}

.Landing .Tombol button {
    background-color: var(--a0);
    color: var(--biru);
}

.header {
    background-color: var(--a3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.header .judul {
    font-family: 'Share Tech Mono';
    margin-left: 20px;
    font-size: 22px;
}

.header .opsi .opsiBtn {
    display: flex;
    justify-content: space-between;
}

.header .opsi .opsiBtn button {
    width: 50px;
    background: none;
    border: none;
    color: white;
}
.header .opsi .opsiBtn button i {
    font-size: 22px;
}

.header .Options {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: end;
    right: 0;
    top: 40px;
    padding: 5px;
    background-color: var(--biru);
    flex-direction: column;
}

.header .Options select {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 3px;
    cursor: pointer;
    text-align: left;
    outline: none;
}
.header .Options button {
    text-align: left;
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px;
    cursor: pointer;
}

.header .Options select option,
.header .Options select:hover,
.header .Options button:hover {
    background-color: #abb9d8;
    color: black;
}

.navbar {
    display: flex;
    height: 30px;
}

.navbar .bar-1 {
    width: 100%;
    background-color: var(--a3);
    border: none;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.navbar .bar-1.active {
    color: var(--biru);
    border-bottom: 2px solid var(--biru);
}

.cari.active i {
    color: var(--biru);
}
.GantiTema {
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    animation: temain 1s forwards;
}
.GantiTema.fade {
    animation: temaout 1s forwards;
}
.GantiTema.fade i {
    animation: symout 1s forwards;
}
.GantiTema i {
    animation: symin 1s forwards;
}
.GantiTema[data-tema="light"] {
    background-color: var(--b2);
    color: #b88f44;
}
.GantiTema[data-tema="light"] i {
    text-shadow: 0 0 15px black;
}
.GantiTema[data-tema="dark"] {
    background-color: var(--a0);
    color: cyan;
}
.GantiTema[data-tema="dark"] i {
    text-shadow: 0 0 25px yellow;
}
@keyframes temain {
    0%{
        width: 0;
    } 100% {
        width: 100%;
    }
}
@keyframes temaout {
    0%{
        height: 100%;
    } 100% {
        height: 0;
    }
}
@keyframes symin {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    } 100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes symout {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    } 60% {
        opacity: 0;
    } 100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}
